
@import url('first.css');
@import url('third.css');

.fa-solid {
  color: #360410;
  padding: 20px;
  font-size: 30px;
  width: 50px;
}

.fa-solid:hover {
  opacity: 0.7;
  color: #f9ab01;
}

.image:hover {
  opacity: 0.7;
  color: #f9ab01;
  position: relative;
}

.image:hover:after {
  content: url(images/4.png);
  width: 40px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -100px;
  top: -100px;
}

.link {
  text-decoration: none;
  color: #f9abf4;
}

.link:hover {
  opacity: 0,7;
  color: #360410;
}

.middle-all {
  text-align: center;
  padding-top: 750px;
}

.middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
}


.middle-blocks {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  left: -300px;
}

.middle-blocks-2 {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  right: -100px;
  left: 200px
}

.middle-blocks ul {
  top: 80px;
  left: -40px;
  width: 300px;
  position: absolute;
  z-index: 5;
  list-style-type: none;
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  color: #f9ab01;
}

.middle-blocks-2 ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  top: 100px;

  position: absolute;
  z-index: 5;
  padding-left: 0;
}

li {
  font-size: 20px;
  font-family: 'prompt', sans-serif;
}

#title {
  top: 50px;
  left: 50px;
  position: absolute;
  z-index: 5;
  width: 200px;
}

square {
  padding: 20px;
  width: 200px;
  text-align: center;
}

div.square {
  background: #82eefb;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  outline: 5px solid #56cfe9;
  position: absolute;
  z-index: 5;
  background: rgb(158,180,255);
  background: linear-gradient(0deg, rgba(158,180,255,1) 0%, rgba(1,92,235,1) 100%);
}

div.square2 {
  background: #e11d47;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  outline: 5px solid #f86533;
  position: absolute;
  z-index: 5;
  background: rgb(255,125,81);
  background: linear-gradient(0deg, rgba(255,125,81,1) 0%, rgba(255,34,14,1) 100%);
}
