.footer {
  text-align: center;
  padding-top: 100px;
  margin-top: 200px;
  background: rgb(159,159,159);
  background: linear-gradient(0deg, rgba(159,159,159,1) 0%, rgba(255,255,255,1) 42%);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
  opacity: 0.1;
}
